<!-- Renders different elements based on the window with for a responsive application that's mobile friendly -->

<nav
  class="navbar navbar-expand justify-content-center fixed-top container-fluid navbar-dark bg-dark d-none d-sm-block"
>
  <ul class="navbar-nav w-75">
    <li class="nav-item">
      <a class="nav-link" routerLink="/weather" routerLinkActive="active-route"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/map" routerLinkActive="active-route"
        >Map View</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/documentation"
        routerLinkActive="active-route"
        >Documentation</a
      >
    </li>
  </ul>
</nav>

<nav
  class="navbar navbar-expand justify-content-center fixed-bottom container-fluid navbar-dark bg-dark d-block d-sm-none"
>
  <ul class="navbar-nav justify-content-around">
    <li class="nav-item">
      <a class="nav-link" routerLink="/weather" routerLinkActive="active-route"
        ><i class="fa fa-home"></i
      ></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/map" routerLinkActive="active-route"
        ><i class="fa fa-globe"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/documentation"
        routerLinkActive="active-route"
        ><i class="fa fa-file"></i
      ></a>
    </li>
  </ul>
</nav>
