<div class="forecast-card small" *ngIf="forecast">
  <div class="justify-content-center text-center flex-column d-flex row">
    <p>{{ forecast.dt_txt | date: "h:mm a" }}</p>
    <i class="weather-icon wi wi-owm-{{ forecast.weather[0].id }} mb-2"></i>
    <p>{{ forecast.main.temp }}&#8451;</p>
    <p><i class="wi-raindrop wi"></i> {{ rain_chance }}</p>
  </div>
</div>
