<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <weather-header></weather-header>
    </div>
  </div>
  <div class="row justify-content-center scroll" id="app-body">
    <router-outlet></router-outlet>
  </div>
</div>
