<div
  class="overlay d-flex justify-content-center align-items-center"
  [@openClose]="this.active ? 'open' : 'closed'"
>
  <div
    class="card p-0 container-fluid"
    id="modal-container"
    [ngClass]="city.weather[0].main"
    *ngIf="this.city"
  >
    <div
      class="row p-4 mx-0 d-flex flex-col justify-content-center align-items-start card-head"
    >
      <div (click)="this.toggleShow()" id="icon-container" class="w-100">
        <i class="fa fa-times-circle fa-lg float-right"></i>
      </div>
      <div
        class="justify-content-center w-100 text-center flex-column d-flex row"
      >
        <i class="head-icon wi wi-owm-{{ city.weather[0].id }}"></i>
        <p class="small mt-3">{{ city.weather[0].description }}</p>

        <h4>{{ city.name }}</h4>
        <h5>{{ city.main.temp }}&#8451;</h5>
        <div class="row weather-meta justify-content-around mt-4 text-center">
          <div class="col-6 d-flex flex-column">
            <p>High: {{ city.main.temp_max }}&#8451;</p>
            <p>Low: {{ city.main.temp_min }}&#8451;</p>
          </div>
          <div class="col-6 d-flex flex-column">
            <p><i class="wi-cloudy-gusts wi"></i> {{ city.wind.speed }}mph</p>
            <p><i class="wi-humidity wi"></i> {{ city.main.humidity }}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row w-100 m-0 card-body p-0 justify-content-center d-flex flex-row scroll flex-nowrap"
      *ngIf="forecast"
    >
      <weather-hourly-forecast-card
        *ngFor="let fc of forecast.list"
        [forecast]="fc"
      ></weather-hourly-forecast-card>
    </div>
  </div>
</div>
