.card-head {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  min-height: calc(60vh - 175px);
  div > i:hover {
    cursor: pointer;
  }

  #icon-container {
    height: 1.33333333em;
  }
}

.card-body {
  max-width: 100%;
  min-width: 100%;
  max-height: 175px;
  overflow-x: scroll;
  overflow-y: hidden;

  // background-color: rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.card {
  position: fixed !important;
  width: 90%;
  border-radius: 1.25rem;
  border: none;
  z-index: 11;
  min-height: 60vh;
  max-height: calc(100vh - 65px);
  max-width: 1000px;
  box-shadow: "2px 2px 12px rgba(60,67,111, 1)" !important;
}

.overlay {
  width: 100vw;
  position: fixed;
  height: calc(100vh - 56px);
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 570px) {
  .overlay {
    top: 0px;
  }
}
@media (min-width: 571px) {
  .overlay {
    top: 56px;
  }
}

.head-icon {
  font-size: 6rem;
  margin-top: 2rem;
}
