<div class="container-fluid d-flex flex-wrap">
  <weather-card
    *ngFor="let city of citiesData"
    [city]="city"
    (toggleModal)="toggleModal(city)"
  ></weather-card>
  <weather-city-modal #cityModal></weather-city-modal>
</div>
