<div
  class="city-card card "
  *ngIf="city"
  [ngClass]="city.weather[0].main"
  cardHover
  (click)="toggleModal()"
>
  <div class="justify-content-center text-center flex-column d-flex row">
    <i class="head-icon wi wi-owm-{{ city.weather[0].id }}"></i>
    <p class="small mt-3">{{ city.weather[0].description }}</p>

    <h4>{{ city.name }}</h4>
    <h5>{{ city.main.temp }}&#8451;</h5>
  </div>
  <div class="row weather-meta mt-3">
    <div
      class="col-6 align-items-start justify-content-sm-center d-flex flex-column text-left small"
    >
      <p>High: {{ city.main.temp_max }}&#8451;</p>
      <p>Low: {{ city.main.temp_min }}&#8451;</p>
    </div>
    <div class="col-6 align-items-end d-flex flex-column text-right small">
      <p><i class="wi-cloudy-gusts wi"></i> {{ city.wind.speed }}mph</p>
      <p><i class="wi-humidity wi"></i> {{ city.main.humidity }}</p>
    </div>
  </div>
</div>
